<ul>
  <li>Helps you focus on developing introspection</li>
  <li>Allows you to maintain oversight over your self-awareness</li>
  <li>Does not require pre-existing knowledge to be effective</li>
</ul>
  