/* COMMON */

* {
  box-sizing: border-box!important;
}


/* APP GRID */

.App {
  display: grid;
  grid-template-rows: 50px auto;
  grid-template-columns: 12fr;
  /* grid-gap: 40px; */

  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  /* background: #fefefe; */
}

header {
  grid-column: 1 / 5;
}

.Nav {
  display: none;  
}

.MNav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  grid-column: 1;
  grid-row: 1;    
}

main {
  grid-column: 1;
  grid-row: 2;

  margin-left: 60px;
  margin-right: 60px;
}


@media screen and (min-width: 767px) {
  .App {
    grid-template-columns: minmax(250px, 3fr) 9fr;
  }

  .Nav {
    display: block;

    grid-row: 1 / span 2;  
  }

  .MNav {
    display: none;
  }
  
  main {
    grid-column: 2;
  }  
}


.App__top {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 1rem;
}

.App__top__item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column-reverse;
  height: 6rem;
}

.App__top__tooltip {
  opacity: 0;
  color: #3131ff;

  font-size: 14px;
  /* border-bottom: 1px solid black; */

  transition: .3s opacity;
}

.App__top__dashboard {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 8rem;
  margin-bottom: 4rem;
  justify-content: space-around;
}

.App__button {
  display: inline-block;
  
  font-size: 1.1rem;
  text-decoration: none;

  background: #3131ff;
  color: white;
  border: 1px solid white;

  box-shadow: 1px 1px grey;

  border-radius: 3px;
  padding: 0.8rem;

  transition: .2s background;
  cursor: pointer;
}

.App__button:hover {
  background: white;
  color: #3131ff;
  border: 1px solid #3131ff;
}

.App__button:hover ~ .App__top__tooltip {
  opacity: 1;
}

.App__button__secondary {
  color: #3131ff;
  padding: 0.8rem;
  text-decoration: none;
}

.App__title__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 2.8rem;

  margin-bottom: 2.5rem;
}

.App__title {
  font-size: 1.8rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.App__title__secondary {
  font-size: 1.2rem;
  margin-bottom: 1rem;

  /* border: 1px solid #3131ff; */
  border-radius: 3px;
  
  color: #3131ff;
  /* padding: 1rem; */
  display: inline-block;
}

.App__text {
  font-size: 0.9rem;
  line-height: 1.3rem;
}

.App__items {
  display: flex;
  flex-direction: column;  
}

.App__item {
  width: 100%;
  min-height: 9rem;
  border: 1px solid white;
  border-radius: 3px;

  text-decoration: none;
  color: black;

  padding: 1rem;
  padding-bottom: 1.5rem;

  margin-bottom: 2rem;

  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
}

@media screen and (min-width: 767px) {
  .App__items {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .App__item {
    width: 49%;
  }
}


.App__item-frequency {
  margin-bottom: 1rem;
}

.App__item__top {
  display: flex;
  justify-content: space-between;
}

.App__item__top__left {
  display: flex;
  align-items: flex-end;
}

.App__view__all {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

.App__view__all__text {

}

.App__input {
  padding: 0.5rem;

  width: 100%;
  
  font-size: 1.2rem;
}

.App__textarea {
  height: 6rem;
  width: 100%;

  padding: 0.5rem;
  
  font-size: 1.1rem;
}








