
  .guides__sidebar {
    .guides__sidebar__top {
      display: none;
    }

    .sidebar__menu {
      display: flex;
      flex-direction: column;

      margin-left: 2rem;
      margin-top: 2rem;

      .sidebar__title {
        text-transform: uppercase;
      }

      .sidebar__section {
        display: flex;
        flex-direction: column;

        margin-bottom: 1.5rem;

        .sidebar__item {
          margin-bottom: 1rem;
          text-decoration: none;
          color: black;
        }

        .sidebar__submenu {
          display: flex;
          flex-direction: column;

          .sidebar__submenu__item {
            margin-bottom: 1rem;
            text-decoration: none;
            color: black;
          }
        }
      }
    }
  }



@media screen and (min-width: 767px) {
  .guides__sidebar {
    
    .guides__sidebar__top {

    }

    .sidebar__menu {


      .sidebar__title {

      }

      .sidebar__section {

        .sidebar__item {

        }

        .sidebar__submenu {


          .sidebar__submenu__item {

          }
        }
      }
    }
  }
}



